language: node_js

node_js:
  - "8"

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.9.4
  - export PATH=$HOME/.yarn/bin:$PATH

cache:
  yarn: true

script:
  - yarn build
  #- yarn lint
  #- yarn test